__pycache__/*
buildtools/*
build/*
dist/*
disabled/debug/*
installation/*
old/*
dot_graph_files/*
sensor_logs/*
videos/Big.Buck.Bunny
settings/last_display_settings.json
releases/
python/__pycache__
*.srt
*.spec
video_history.json
notes.txt
